---
import Link from "./Link.astro";

type Props = {
  id: number;
  img: string;
  title: string;
  label: string;
  level: number;
};

const { id, title, img, label, level } = Astro.props;
---

<article class=`grid course ${label} grid-cols-[auto_1fr] gap-6  rounded-2xl`>
  <img
    src={img}
    alt={`${title} cover`}
    width="294"
    height="164.5"
    class="rounded-xl"
  />
  <div class="flex flex-col justify-between">
    <div class="flex flex-col gap-2">
      {label}
    </div>
    <hr class="w-[100px] h-[40px]" />
    <div class="flex flex-col gap-2">
      <h1 class="text-3xl">
        {title}
      </h1>
    </div>
    <div class="w-fit mb-2">
      <Link
        href="https://www.youtube.com/watch?v=VdS9ZGHHXWQ"
        text="Ver curso"
      />
    </div>
  </div>
</article>
